/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

i {
  color: white;
}

/* Custom design below! */

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.intro-text {
  margin-bottom: 32px;
}

.container {
  width: 100%;
  padding: 10px;
  background-color: #4d784e;
}

.container > h2 {
  text-align: center;
  color: white;
}

.card-list {
  margin: 0 auto;
  padding-bottom: 24px;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}

.footer > p {
  color: white;
}
